$defaultSkew: -61.25deg;

.menu {
    position: fixed;

    @include flexbox;
    @include flex-direction(column);
    @include align-items(flex-start);

    z-index: 99;
    pointer-events: none;

    left: 0;
    top: 0;

    &__item {
        background-color: $charcoal;

        position: relative;
        @include flexbox;
        @include justify-content(center);
        padding: 0.5rem;
        transform: translateX(calc(-100% - 2.4rem))
                   skewX($defaultSkew);
        transition: background-color 0.2s;

        pointer-events: auto;

        left: -36px;
        padding-left: 46px;

        color: #FFF;
        
        &-title {
            transform: skewX(-$defaultSkew);
            width: 100%;
        }

        &:nth-child(2) {
            width: calc(100% + 171px)
        }

        &:nth-child(3) {
            width: calc(100% + 98px);
        }
        
        &:nth-child(4) {
            width: calc(100% + 25px)
        }
        
        &:nth-child(5) {
            width: 179px;
        }

        &:hover,
        &:hover::before {
            background-color: $dark-blue;
        }
    }
}

.menu__close {
    position: relative;
    padding-left: 112px;
    margin-left: -75px;

    cursor: pointer;
    pointer-events: auto;

    width: 25%;
    height: 4.8rem;
    
    color: #fff;

    transform: translateX(-100%)
               skewX($defaultSkew) !important;

    &:hover {
        background: $dark-blue;
    }

    &-icon {
        position: absolute;
        padding-top: 8px;
        z-index: 1;
        left: 35px;

        height: auto;
        width: 50%;

        font-size: 1.5rem;
        text-align: center;

        transform: skew(-$defaultSkew);
    }
}

.menu input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;

    &:checked {
        & ~ .menu__item {
            &:nth-child(2) {
                transition: transform 0.2s 0.3s;
                transform: translateX(calc(-100% - 2.4rem)) !important;
            }
            &:nth-child(3) {
                transition: transform 0.2s 0.2s;
                transform: translateX(calc(-100% - 2.4rem)) !important;
            }
            &:nth-child(4) {
                transition: transform 0.2s 0.1s;
                transform: translateX(calc(-100% - 2.4rem)) !important;
            }
            &:nth-child(5) {
                transition: transform 0.2s 0s, background-color 0.2s;
                transform: translateX(calc(-100% - 2.4rem)) !important;
            }
        }

        & ~ .menu__close {
            transition: transform 0.2s 0.3s;
            transform: translateY(-10rem)
               skewX($defaultSkew) !important;
        }
    }

    &:not(:checked) {
        & ~ .menu__item {
            transform: translateY(0);

            &:nth-child(2) {
                transition: transform 0.2s 0.1s;
                transform: translateX(0)
                           skewX($defaultSkew) !important;
            }
            &:nth-child(3) {
                transition: transform 0.2s 0.2s;
                transform: translateX(0)
                           skewX($defaultSkew) !important;
            }
            &:nth-child(4) {
                transition: transform 0.2s 0.3s;
                transform: translateX(0)
                           skewX($defaultSkew) !important;
            }
            &:nth-child(5) {
                transition: transform 0.2s 0.4s;
                transform: translateX(0)
                           skewX($defaultSkew) !important;
            }
        }

        & ~ .menu__close {
            transition: transform 0.2s 0.1s;
            transform: translateY(0)
               skewX($defaultSkew) !important;;
            
            background: $charcoal;

            &:hover {
                background: $dark-blue;
            }
        }
    }
}