//Branding
$light-blue:    #a2ccdd;
$medium-blue:   #69a7c2;
$dark-blue:     #467284;
$red:           #cc0000;

$charcoal:      rgb(51, 51, 51);
$black:         #333;

//Fonts
$serif: "freight-big-pro", "Franklin Gothic Book", serif;
$sans-serif: "proxima-nova", "freight-sans-pro", Verdana, Arial, sans-serif;

//Positioning
$gutter: 20px;