.modal {
    background: rgba(0, 0, 0, .85);
    color: #FFF;
    
    position: fixed;
    z-index: 1000;

    height: 100vh;
    width: 100vw;

    animation: modal-open .5s 1;

    a {
        color: $medium-blue;
    }

    &-close {
        cursor: pointer;

        position: absolute;
        top: $gutter;
        right: $gutter;
    }

    &-content {
        max-height: 100%;
        overflow-y: scroll;
    }
}


@keyframes modal-open {
    from { opacity: 0 };
    to { opacity: 1 };
}